#  상대 모멘텀 절대 모멘텀 전략 (듀얼 모멘텀 전략) 적용한 ETF 투자

## package  설치

In [1]:
import FinanceDataReader as fdr

In [2]:
import pandas as pd
import numpy as np
import requests
import json

In [3]:
from pandas.io.json import json_normalize

## NAVER Finance API를 이용한 국내 상장 ETF 종목 정보 가져오기

In [4]:
url = 'https://finance.naver.com/api/sise/etfItemList.nhn'
json_data = json.loads(requests.get(url).text)

In [17]:
df_etf = json_normalize(json_data['result']['etfItemList'])

<ipython-input-17-2e0666b8b442>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df_etf = json_normalize(json_data['result']['etfItemList'])

In [18]:
df_etf

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,38920,5,-495,-1.26,38971.0,-5.1179,2316314,90507,52737
1,371460,4,TIGER 차이나전기차SOLACTIVE,19610,2,310,1.61,NaN,7.8513,6769137,132093,24497
2,102110,1,TIGER 200,38965,5,-480,-1.22,38992.0,-5.0777,721006,28148,22405
3,252670,3,KODEX 200선물인버스2X,2280,2,55,2.47,2280.0,8.8019,137289267,310563,21462
4,153130,6,KODEX 단기채권,102990,3,0,0.00,102991.0,0.1312,23425,2412,19950
...,...,...,...,...,...,...,...,...,...,...,...,...
519,284990,2,KBSTAR 200에너지화학,12780,5,-195,-1.50,12779.0,-5.9101,359,4,23
520,334700,5,KBSTAR 팔라듐선물인버스(H),5145,5,-55,-1.06,NaN,14.5374,135,0,21
521,287330,2,KBSTAR 200생활소비재,7845,5,-115,-1.44,7843.0,-8.2421,3366,26,20
522,287310,2,KBSTAR 200경기소비재,10775,5,-75,-0.69,10778.0,-6.5461,568,6,15
523,287320,2,KBSTAR 200산업재,10850,5,-210,-1.90,10825.0,-13.8630,155,1,13

In [47]:
# ETF 종목 코드 list로 변환
code = df_etf['itemcode'].astype('string').to_list()

In [25]:
code

['069500',
 '371460',
 '102110',
 '252670',
 '153130',
 '122630',
 '133690',
 '157450',
 '102780',
 '278540',
 '273130',
 '214980',
 '310970',
 '292150',
 '278530',
 '305540',
 '114800',
 '148020',
 '360750',
 '305720',
 '381170',
 '139260',
 '233740',
 '394670',
 '152100',
 '381180',
 '091180',
 '105190',
 '069660',
 '293180',
 '315930',
 '364980',
 '294400',
 '314250',
 '360200',
 '251340',
 '364960',
 '226490',
 '196230',
 '385540',
 '251350',
 '091170',
 '371160',
 '229200',
 '332500',
 '290130',
 '367770',
 '367380',
 '400970',
 '143850',
 '275980',
 '357870',
 '385550',
 '332940',
 '272560',
 '148070',
 '401470',
 '108450',
 '295040',
 '091160',
 '132030',
 '192090',
 '245710',
 '168580',
 '326240',
 '161510',
 '332930',
 '379810',
 '329750',
 '394660',
 '379800',
 '272580',
 '261220',
 '190620',
 '325020',
 '182480',
 '390950',
 '278240',
 '372330',
 '302450',
 '270810',
 '232080',
 '368590',
 '385560',
 '143860',
 '228800',
 '091230',
 '150460',
 '252710',
 '138540',
 '219480',
 '267770',
 '322400',
 '204480',
 '395750',
 '261240',
 '309230',
 '273140',
 '329200',
 '367760',
 '298770',
 '228810',
 '114260',
 '130730',
 '139220',
 '325010',
 '329650',
 '328370',
 '144600',
 '283580',
 '225040',
 '364970',
 '157490',
 '371470',
 '304940',
 '117700',
 '122260',
 '139280',
 '379780',
 '195930',
 '363580',
 '306520',
 '136340',
 '266160',
 '174360',
 '385510',
 '195980',
 '387270',
 '387280',
 '245340',
 '277630',
 '376410',
 '404540',
 '385520',
 '391600',
 '123310',
 '114820',
 '305080',
 '233160',
 '302190',
 '396510',
 '245360',
 '365000',
 '368190',
 '282000',
 '363510',
 '385720',
 '139230',
 '200250',
 '354350',
 '130680',
 '256750',
 '266360',
 '395760',
 '102970',
 '227830',
 '371450',
 '315960',
 '388280',
 '114460',
 '289260',
 '337160',
 '117680',
 '099140',
 '336160',
 '404260',
 '363570',
 '266370',
 '401170',
 '219390',
 '256440',
 '356540',
 '304780',
 '375770',
 '228790',
 '292190',
 '341850',
 '361580',
 '243880',
 '203780',
 '204450',
 '400570',
 '269540',
 '396500',
 '304770',
 '139270',
 '385710',
 '276650',
 '326230',
 '276970',
 '123320',
 '385600',
 '364990',
 '396520',
 '279530',
 '138230',
 '252420',
 '390390',
 '225800',
 '310960',
 '114470',
 '385590',
 '359210',
 '287180',
 '381560',
 '337140',
 '332620',
 '169950',
 '272570',
 '244580',
 '227540',
 '280930',
 '236350',
 '217780',
 '319640',
 '137610',
 '394350',
 '181480',
 '354500',
 '213630',
 '277540',
 '266420',
 '230480',
 '239660',
 '252410',
 '152870',
 '253250',
 '160580',
 '250780',
 '218420',
 '300640',
 '248270',
 '365040',
 '176950',
 '292160',
 '261250',
 '114100',
 '225130',
 '252400',
 '332610',
 '168300',
 '322410',
 '266410',
 '304660',
 '331910',
 '404120',
 '377990',
 '210780',
 '329660',
 '276990',
 '285690',
 '237370',
 '397410',
 '138520',
 '329670',
 '400590',
 '152380',
 '278620',
 '138910',
 '227570',
 '371130',
 '211900',
 '388420',
 '238720',
 '352560',
 '337150',
 '140710',
 '368680',
 '143460',
 '117460',
 '292730',
 '306950',
 '140700',
 '289040',
 '280320',
 '139250',
 '225050',
 '211560',
 '276000',
 '316670',
 '237350',
 '292500',
 '241180',
 '399110',
 '304760',
 '102960',
 '360140',
 '138530',
 '245350',
 '284430',
 '272910',
 '300610',
 '253160',
 '300950',
 '395290',
 '091220',
 '182490',
 '367740',
 '183700',
 '390400',
 '153270',
 '269420',
 '223190',
 '241390',
 '289250',
 '361590',
 '360150',
 '292050',
 '402520',
 '139240',
 '219900',
 '195920',
 '391590',
 '375760',
 '140950',
 '122090',
 '365780',
 '308620',
 '139660',
 '229720',
 '307010',
 '200030',
 '251590',
 '253150',
 '395150',
 '310080',
 '271050',
 '251600',
 '265690',
 '407830',
 '279540',
 '104520',
 '253290',
 '208470',
 '244620',
 '253230',
 '196030',
 '248260',
 '395160',
 '316300',
 '381570',
 '100910',
 '139290',
 '401590',
 '395280',
 '400580',
 '292750',
 '402460',
 '403790',
 '407820',
 '399580',
 '244670',
 '225030',
 '185680',
 '352540',
 '270800',
 '101280',
 '402970',
 '261060',
 '261070',
 '395170',
 '226380',
 '375270',
 '271060',
 '342140',
 '368200',
 '108590',
 '285000',
 '145850',
 '225060',
 '275290',
 '337120',
 '250730',
 '105780',
 '243890',
 '189400',
 '256450',
 '152500',
 '394340',
 '156080',
 '364690',
 '272230',
 '251890',
 '380340',
 '291630',
 '137930',
 '315270',
 '167860',
 '354240',
 '322150',
 '140570',
 '333970',
 '277650',
 '104530',
 '226980',
 '131890',
 '183710',
 '159800',
 '289670',
 '261140',
 '272220',
 '407160',
 '266390',
 '322130',
 '252000',
 '291130',
 '292560',
 '407170',
 '403990',
 '404470',
 '307510',
 '395270',
 '404650',
 '139320',
 '275280',
 '319870',
 '306530',
 '234310',
 '261260',
 '305050',
 '368470',
 '371150',
 '205720',
 '252650',
 '379790',
 '244660',
 '117690',
 '166400',
 '373790',
 '213610',
 '298340',
 '391670',
 '277640',
 '322120',
 '261110',
 '252730',
 '261120',
 '195970',
 '333960',
 '333950',
 '391680',
 '314700',
 '269370',
 '237440',
 '304670',
 '289480',
 '138920',
 '238670',
 '373530',
 '145670',
 '192720',
 '373490',
 '275300',
 '301440',
 '376250',
 '269530',
 '292340',
 '140580',
 '281990',
 '261920',
 '307520',
 '333940',
 '176710',
 '215620',
 '228820',
 '174350',
 '290080',
 '267440',
 '139310',
 '105010',
 '220130',
 '301410',
 '321410',
 '098560',
 '371870',
 '292770',
 '295820',
 '299080',
 '334690',
 '253280',
 '299070',
 '261270',
 '291680',
 '157500',
 '346000',
 '227550',
 '295000',
 '333980',
 '275750',
 '253240',
 '285010',
 '280920',
 '147970',
 '309210',
 '287300',
 '280940',
 '295020',
 '342600',
 '291890',
 '342500',
 '266550',
 '217770',
 '302170',
 '342610',
 '267450',
 '302180',
 '342620',
 '291620',
 '227560',
 '267490',
 '315480',
 '278420',
 '267500',
 '217790',
 '284980',
 '301400',
 '252720',
 '397420',
 '285020',
 '284990',
 '334700',
 '287330',
 '287310',
 '287320']

In [26]:
universe = code

In [27]:
# 종목 Universe 구성

universe_list = universe

In [48]:
# 백테스트를 위한 시작, 끝 시점 설정 및 3개월마다 리밸런싱
df = pd.DataFrame(data=None)
for code in universe_list:
        df[code] = fdr.DataReader(code,'2020-05-01','2021-08-31')['Close'].resample('3M').last()

In [29]:
df

,069500,371460,102110,252670,153130,122630,133690,157450,102780,278540,...,284980,301400,252720,397420,285020,284990,334700,287330,287310,287320
Date,,,,,,,,,,,,,,,,,,,,,
2020-05-31,26151,NaN,26109,6025,102370,11160,52042,99752,6700,8585,...,6082,10887,9206,NaN,5082,7180,6520,7597,6911,7408
2020-08-31,30083,NaN,30027,4325,102455,14485,63957,99866,7390,9770,...,6369,13324,9820,NaN,5344,9784,5710,7729,8467,7308
2020-11-30,33993,NaN,33963,3290,102570,18330,60330,99975,8572,11130,...,7256,13383,11389,NaN,6125,11018,5200,7847,9361,8856
2021-02-28,40920,NaN,40890,2175,102725,25880,64048,100100,9779,13390,...,7605,13613,14143,NaN,7484,13438,5160,8564,11490,10588
2021-05-31,42613,NaN,42602,1965,102855,27840,68109,100220,9935,13715,...,9415,13970,15365,NaN,10020,13555,4325,9455,12240,13680
2021-08-31,41895,NaN,41914,2000,102860,26760,81350,100275,10555,13490,...,9015,14995,14870,50005.0,9775,13530,4690,8740,11595,13285

In [49]:
# NA가 중간에 있는 종목 제거
df = df.dropna(axis=1)

In [50]:
df

,069500,102110,252670,153130,122630,133690,157450,102780,278540,273130,...,217790,284980,301400,252720,285020,284990,334700,287330,287310,287320
Date,,,,,,,,,,,,,,,,,,,,,
2020-05-31,26151,26109,6025,102370,11160,52042,99752,6700,8585,110545,...,19151,6082,10887,9206,5082,7180,6520,7597,6911,7408
2020-08-31,30083,30027,4325,102455,14485,63957,99866,7390,9770,110390,...,20318,6369,13324,9820,5344,9784,5710,7729,8467,7308
2020-11-30,33993,33963,3290,102570,18330,60330,99975,8572,11130,110300,...,21574,7256,13383,11389,6125,11018,5200,7847,9361,8856
2021-02-28,40920,40890,2175,102725,25880,64048,100100,9779,13390,109200,...,24635,7605,13613,14143,7484,13438,5160,8564,11490,10588
2021-05-31,42613,42602,1965,102855,27840,68109,100220,9935,13715,108415,...,26290,9415,13970,15365,10020,13555,4325,9455,12240,13680
2021-08-31,41895,41914,2000,102860,26760,81350,100275,10555,13490,109870,...,25700,9015,14995,14870,9775,13530,4690,8740,11595,13285

In [32]:
# ETF 종목별 3개월 수익률 계산

df_rtn = df/df.shift(1)*100-100
df_rtn

,069500,102110,252670,153130,122630,133690,157450,102780,278540,273130,...,217790,284980,301400,252720,285020,284990,334700,287330,287310,287320
Date,,,,,,,,,,,,,,,,,,,,,
2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-31,15.035754,15.006320,-28.215768,0.083032,29.793907,22.894969,0.114283,10.298507,13.803145,-0.140214,...,6.093677,4.718842,22.384495,6.669563,5.155451,36.267409,-12.423313,1.737528,22.514831,-1.349892
2020-11-30,12.997374,13.108203,-23.930636,0.112244,26.544701,-5.670998,0.109146,15.994587,13.920164,-0.081529,...,6.181711,13.926833,0.442810,15.977597,14.614521,12.612428,-8.931699,1.526718,10.558639,21.182266
2021-02-28,20.377725,20.395725,-33.890578,0.151116,41.189307,6.162771,0.125031,14.080728,20.305481,-0.997280,...,14.188375,4.809813,1.718598,24.181228,22.187755,21.964059,-0.769231,9.137250,22.743297,19.557362
2021-05-31,4.137341,4.186843,-9.655172,0.126551,7.573416,6.340557,0.119880,1.595255,2.427184,-0.718864,...,6.718084,23.800131,2.622493,8.640317,33.885623,0.870665,-16.182171,10.404017,6.527415,29.202871
2021-08-31,-1.684932,-1.614948,1.781170,0.004861,-3.879310,19.440896,0.054879,6.240564,-1.640540,1.342065,...,-2.244199,-4.248540,7.337151,-3.221608,-2.445110,-0.184434,8.439306,-7.562136,-5.269608,-2.887427

In [33]:
df_rtn = df_rtn.dropna()
df_rtn

,069500,102110,252670,153130,122630,133690,157450,102780,278540,273130,...,217790,284980,301400,252720,285020,284990,334700,287330,287310,287320
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-31,15.035754,15.006320,-28.215768,0.083032,29.793907,22.894969,0.114283,10.298507,13.803145,-0.140214,...,6.093677,4.718842,22.384495,6.669563,5.155451,36.267409,-12.423313,1.737528,22.514831,-1.349892
2020-11-30,12.997374,13.108203,-23.930636,0.112244,26.544701,-5.670998,0.109146,15.994587,13.920164,-0.081529,...,6.181711,13.926833,0.442810,15.977597,14.614521,12.612428,-8.931699,1.526718,10.558639,21.182266
2021-02-28,20.377725,20.395725,-33.890578,0.151116,41.189307,6.162771,0.125031,14.080728,20.305481,-0.997280,...,14.188375,4.809813,1.718598,24.181228,22.187755,21.964059,-0.769231,9.137250,22.743297,19.557362
2021-05-31,4.137341,4.186843,-9.655172,0.126551,7.573416,6.340557,0.119880,1.595255,2.427184,-0.718864,...,6.718084,23.800131,2.622493,8.640317,33.885623,0.870665,-16.182171,10.404017,6.527415,29.202871
2021-08-31,-1.684932,-1.614948,1.781170,0.004861,-3.879310,19.440896,0.054879,6.240564,-1.640540,1.342065,...,-2.244199,-4.248540,7.337151,-3.221608,-2.445110,-0.184434,8.439306,-7.562136,-5.269608,-2.887427

In [34]:
# 각 기간별 최고 수익률을 보인 종목 선정 - 상대 모멘텀

df_rtn['relative']=df_rtn.idxmax(axis=1)
df_rtn

<ipython-input-34-5f471f5f9e8d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rtn['relative']=df_rtn.idxmax(axis=1)

,069500,102110,252670,153130,122630,133690,157450,102780,278540,273130,...,284980,301400,252720,285020,284990,334700,287330,287310,287320,relative
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-31,15.035754,15.006320,-28.215768,0.083032,29.793907,22.894969,0.114283,10.298507,13.803145,-0.140214,...,4.718842,22.384495,6.669563,5.155451,36.267409,-12.423313,1.737528,22.514831,-1.349892,243890
2020-11-30,12.997374,13.108203,-23.930636,0.112244,26.544701,-5.670998,0.109146,15.994587,13.920164,-0.081529,...,13.926833,0.442810,15.977597,14.614521,12.612428,-8.931699,1.526718,10.558639,21.182266,140710
2021-02-28,20.377725,20.395725,-33.890578,0.151116,41.189307,6.162771,0.125031,14.080728,20.305481,-0.997280,...,4.809813,1.718598,24.181228,22.187755,21.964059,-0.769231,9.137250,22.743297,19.557362,243880
2021-05-31,4.137341,4.186843,-9.655172,0.126551,7.573416,6.340557,0.119880,1.595255,2.427184,-0.718864,...,23.800131,2.622493,8.640317,33.885623,0.870665,-16.182171,10.404017,6.527415,29.202871,117680
2021-08-31,-1.684932,-1.614948,1.781170,0.004861,-3.879310,19.440896,0.054879,6.240564,-1.640540,1.342065,...,-4.248540,7.337151,-3.221608,-2.445110,-0.184434,8.439306,-7.562136,-5.269608,-2.887427,236350

In [35]:
# 최고 수익률을 보인 종목이 양의 수익률이면 True 아니면 False - 절대 모멘텀
df_rtn['absolute'] = df_rtn.max(axis=1)>0
df_rtn

<ipython-input-35-c8a2922e18a9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rtn['absolute'] = df_rtn.max(axis=1)>0

,069500,102110,252670,153130,122630,133690,157450,102780,278540,273130,...,301400,252720,285020,284990,334700,287330,287310,287320,relative,absolute
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-31,15.035754,15.006320,-28.215768,0.083032,29.793907,22.894969,0.114283,10.298507,13.803145,-0.140214,...,22.384495,6.669563,5.155451,36.267409,-12.423313,1.737528,22.514831,-1.349892,243890,True
2020-11-30,12.997374,13.108203,-23.930636,0.112244,26.544701,-5.670998,0.109146,15.994587,13.920164,-0.081529,...,0.442810,15.977597,14.614521,12.612428,-8.931699,1.526718,10.558639,21.182266,140710,True
2021-02-28,20.377725,20.395725,-33.890578,0.151116,41.189307,6.162771,0.125031,14.080728,20.305481,-0.997280,...,1.718598,24.181228,22.187755,21.964059,-0.769231,9.137250,22.743297,19.557362,243880,True
2021-05-31,4.137341,4.186843,-9.655172,0.126551,7.573416,6.340557,0.119880,1.595255,2.427184,-0.718864,...,2.622493,8.640317,33.885623,0.870665,-16.182171,10.404017,6.527415,29.202871,117680,True
2021-08-31,-1.684932,-1.614948,1.781170,0.004861,-3.879310,19.440896,0.054879,6.240564,-1.640540,1.342065,...,7.337151,-3.221608,-2.445110,-0.184434,8.439306,-7.562136,-5.269608,-2.887427,236350,True

In [36]:
df_rtn

,069500,102110,252670,153130,122630,133690,157450,102780,278540,273130,...,301400,252720,285020,284990,334700,287330,287310,287320,relative,absolute
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-31,15.035754,15.006320,-28.215768,0.083032,29.793907,22.894969,0.114283,10.298507,13.803145,-0.140214,...,22.384495,6.669563,5.155451,36.267409,-12.423313,1.737528,22.514831,-1.349892,243890,True
2020-11-30,12.997374,13.108203,-23.930636,0.112244,26.544701,-5.670998,0.109146,15.994587,13.920164,-0.081529,...,0.442810,15.977597,14.614521,12.612428,-8.931699,1.526718,10.558639,21.182266,140710,True
2021-02-28,20.377725,20.395725,-33.890578,0.151116,41.189307,6.162771,0.125031,14.080728,20.305481,-0.997280,...,1.718598,24.181228,22.187755,21.964059,-0.769231,9.137250,22.743297,19.557362,243880,True
2021-05-31,4.137341,4.186843,-9.655172,0.126551,7.573416,6.340557,0.119880,1.595255,2.427184,-0.718864,...,2.622493,8.640317,33.885623,0.870665,-16.182171,10.404017,6.527415,29.202871,117680,True
2021-08-31,-1.684932,-1.614948,1.781170,0.004861,-3.879310,19.440896,0.054879,6.240564,-1.640540,1.342065,...,7.337151,-3.221608,-2.445110,-0.184434,8.439306,-7.562136,-5.269608,-2.887427,236350,True

In [37]:
df_rtn.iloc[0][-2]

'243890'

In [38]:
print(df_rtn.iloc[1][df_rtn.iloc[0,-2]])
print(df_rtn.iloc[2][df_rtn.iloc[1,-2]])

25.06203473945409
16.940363007778743

In [39]:
#각 기간별 수익률을 list 로 생성

rtn = []
for i in range(df_rtn.shape[0]-1):
    if df_rtn.iloc[i,-1]:
        rtn.append(df_rtn.iloc[i+1][df_rtn.iloc[i,-2]])
    else:
        rtn.append(0)
rtn.append(0)

In [40]:
rtn

[25.06203473945409,
 16.940363007778743,
 -10.339338687504522,
 -4.675572519083971,
 0]

In [41]:
df_rtn['inv_rtn']=rtn
df_rtn

<ipython-input-41-49c2e71c11de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rtn['inv_rtn']=rtn

,069500,102110,252670,153130,122630,133690,157450,102780,278540,273130,...,252720,285020,284990,334700,287330,287310,287320,relative,absolute,inv_rtn
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-31,15.035754,15.006320,-28.215768,0.083032,29.793907,22.894969,0.114283,10.298507,13.803145,-0.140214,...,6.669563,5.155451,36.267409,-12.423313,1.737528,22.514831,-1.349892,243890,True,25.062035
2020-11-30,12.997374,13.108203,-23.930636,0.112244,26.544701,-5.670998,0.109146,15.994587,13.920164,-0.081529,...,15.977597,14.614521,12.612428,-8.931699,1.526718,10.558639,21.182266,140710,True,16.940363
2021-02-28,20.377725,20.395725,-33.890578,0.151116,41.189307,6.162771,0.125031,14.080728,20.305481,-0.997280,...,24.181228,22.187755,21.964059,-0.769231,9.137250,22.743297,19.557362,243880,True,-10.339339
2021-05-31,4.137341,4.186843,-9.655172,0.126551,7.573416,6.340557,0.119880,1.595255,2.427184,-0.718864,...,8.640317,33.885623,0.870665,-16.182171,10.404017,6.527415,29.202871,117680,True,-4.675573
2021-08-31,-1.684932,-1.614948,1.781170,0.004861,-3.879310,19.440896,0.054879,6.240564,-1.640540,1.342065,...,-3.221608,-2.445110,-0.184434,8.439306,-7.562136,-5.269608,-2.887427,236350,True,0.000000

In [42]:
# 누적 수익률 계산
df_rtn['cum_rtn'] = ((df_rtn['inv_rtn']/100+1).cumprod()-1)*100
df_rtn

<ipython-input-42-0eb85a42911a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rtn['cum_rtn'] = ((df_rtn['inv_rtn']/100+1).cumprod()-1)*100

,069500,102110,252670,153130,122630,133690,157450,102780,278540,273130,...,285020,284990,334700,287330,287310,287320,relative,absolute,inv_rtn,cum_rtn
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-31,15.035754,15.006320,-28.215768,0.083032,29.793907,22.894969,0.114283,10.298507,13.803145,-0.140214,...,5.155451,36.267409,-12.423313,1.737528,22.514831,-1.349892,243890,True,25.062035,25.062035
2020-11-30,12.997374,13.108203,-23.930636,0.112244,26.544701,-5.670998,0.109146,15.994587,13.920164,-0.081529,...,14.614521,12.612428,-8.931699,1.526718,10.558639,21.182266,140710,True,16.940363,46.247997
2021-02-28,20.377725,20.395725,-33.890578,0.151116,41.189307,6.162771,0.125031,14.080728,20.305481,-0.997280,...,22.187755,21.964059,-0.769231,9.137250,22.743297,19.557362,243880,True,-10.339339,31.126922
2021-05-31,4.137341,4.186843,-9.655172,0.126551,7.573416,6.340557,0.119880,1.595255,2.427184,-0.718864,...,33.885623,0.870665,-16.182171,10.404017,6.527415,29.202871,117680,True,-4.675573,24.995987
2021-08-31,-1.684932,-1.614948,1.781170,0.004861,-3.879310,19.440896,0.054879,6.240564,-1.640540,1.342065,...,-2.445110,-0.184434,8.439306,-7.562136,-5.269608,-2.887427,236350,True,0.000000,24.995987

In [43]:
#기간별 총 누적 수익률 출력
cum = df_rtn['cum_rtn'].iloc[-2]
cum

24.995987320386682

## 듀얼 모멘텀 전략 적용을 위한 함수

In [44]:
# 듀얼 모멘텀을 위한 함수 

def dual_momentum_simulation(universe_list):
    ## universe 주가 종목 불러오기
    df = pd.DataFrame(data=None)
    for code in universe_list:
        df[code] = fdr.DataReader(code,'2020-05-01','2021-08-31')['Close'].resample('3M').last()
    
    df=df.dropna(axis=1) # NA 있는 ETF 제거
    ## 수익률 DataFrame으로 가공 후, 상대 절대 모멘텀 계산
    df_rtn = df/df.shift(1)*100-100
    df_rtn = df_rtn.dropna()
    df_rtn['relative'] = df_rtn.idxmax(axis=1)
    df_rtn['absolute'] = df_rtn.max(axis=1)>0
    
    # 듀얼 모멘텀 수익률 계산
    rtn = []
    for i in range(df_rtn.shape[0]-1):
        if df_rtn.iloc[i,-1]:
            rtn.append(df_rtn.iloc[i+1][df_rtn.iloc[i,-2]])
        else:
            rtn.append(0)
    rtn.append(0)
    df_rtn['inv_rtn']=rtn
    df_rtn['cum_rtn'] = ((df_rtn['inv_rtn']/100+1).cumprod()-1)*100
    cum = df_rtn['cum_rtn'].iloc[-2]
    
    print(df_rtn[['relative','inv_rtn','cum_rtn']])
    print(f'----> 전략 누적 수익률:{round(cum,2)}%')
    
    return df_rtn['cum_rtn']

In [45]:
universe_list = universe

In [46]:
rtn = dual_momentum_simulation(universe_list)

           relative    inv_rtn    cum_rtn
Date
2020-08-31   243890  25.062035  25.062035
2020-11-30   140710  16.940363  46.247997
2021-02-28   243880 -10.339339  31.126922
2021-05-31   117680  -4.675573  24.995987
2021-08-31   236350   0.000000  24.995987
----> 전략 누적 수익률:25.0%